.edit-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
}
.react-icon{
    position: absolute;
    left: 1rem;
    cursor: pointer;
}
.quill-container{
    margin-top: 1px;
    width: 100%;
}
.ql-container.ql-snow{
    border: none !important;
    outline: none !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 8.5in;
    min-height: 11in;
    margin: 1.5rem;
}
.ql-toolbar.ql-snow{
    position: sticky;
    top: 0;
    z-index: 1;
    border: none !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}