.content-area-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;

  .area-top-title {
    align-items: center;
    color: var(--text-color-inverted);
  }

  .area-top-l {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .sidebar-open-btn {
    display: inline-flex;
    align-items: center;
    margin-bottom: -1px;
    color: var(--text-color-inverted);

    @media (max-width: 768px) {
      display: inline-flex;
    }
  }

  .date-display {
    p {
      font-size: 16px;
      color: var(--text-color-inverted);
    }
  }

  .area-top-right {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .welcome-message {
      font-size: 16px;
      color: var(--text-color-inverted);
    }

    .profile-picture{
      margin-right: 40px;
      object-fit: cover;
    }
  }
}
